// Makes style changes to the entire html code
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	background-image: url(https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card{
	width: 350px;
	height: 500px;
     box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
	perspective: 1000px;
}
.inner-box{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.card-front, .card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: url(https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	padding: 55px;
box-sizing: border-box;
backface-visibility: hidden;
}
.card-back{
	transform: rotateY(180deg);
}
.card h2{
	font-weight: normal;
	font-size: 24px;
	text-align: centre;
	margin-bottom: 20px;
}
.input-box{
width: 100%;
background: transparent;
border: 1px solid #fff;
margin: 6px 0;
height: 32px;
border-radius: 20px;
padding: 0 10px;
box-sizing: border-box;
outline: none;
text-align: center;
color: white;
}
::placeholder{
	color: white;
	font-size: 12px;
}
button{
	width: 100%;
	background: transparent;
	border: 1px solid white;
	margin: 35px 0 10px;
	height: 32px;
	font-size: 12px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: white;
	cursor: pointer;
}
.submit-btn{
	position: relative;
}
.submit-btn::after{
	content: '\27a4';
	color: #333;
	line-height: 32px;
	font-size: 17px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: -1px;
	top: -1px;
}
span{
	font-size: 13px;
	margin-left: 10px;
}
.card .btn{
	margin-top: 70px;
}
.card a{
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 13px;
	margin-top: 8px;
}
